<ion-content [fullscreen]="true" style="height: 100%">
  <div id="introduction-container" style="background: white;">
    <ion-card style="text-align:center;">
      <ion-card-header class="gradient1 textstyle">
        <ion-card-title text-wrap style="
        font-family: alternate-gothic-no-3-d, sans-serif;
        font-weight: normal;
        font-size: x-large;" class = "textstyle">
          What We Do</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card   slot="content" class="card" >


        <ion-card-content class="cardcontent">
          Salute Her UK aims to transform the lives of women veterans, their families and communities so that they can thrive and prosper.
        </ion-card-content>
        <ion-card-content>Salute Her UK provides a physical and psychological safe zone where women can access needs led, holistic, trauma informed care in a single sex environment.
        </ion-card-content>
        <ion-card-content>Salute Her UK have bespoke partnerships which include integrated care pathways for women veterans wanting to access confidential, gender aware, specialist support to address unresolved trauma and barriers to social justice.
        </ion-card-content>
        <ion-card-content>

          Salute Her UK provides trauma informed therapy to support women veterans with lived experience of sexual assault and associated trauma. We regularly consult with women veterans so that our services are needs led and person centred. We conduct research, share best practice, inform and educate, raise awareness, deliver training and reach out to those in need.

        </ion-card-content>
        <ion-card-content>Our services have been developed to address the growing needs of the increasing population of military women transitioning to civilian life. We have adopted a holistic, trauma-informed approach, addressing both physical and mental health well-being, relationships and any wider psycho-social issues that affect a seamless transition to civilian life. By offering one to one or group support, that is designed to ensure that women work towards self identified best outcomes, we help foster post traumatic growth.

        </ion-card-content>
        <ion-card-content>At Salute Her UK, women can choose from a range of therapeutic activities – workshops, courses, groups and individual counselling or mental health therapy delivered either face to face or virtually.– which means that their recovery is truly person-centred.

        </ion-card-content>
        <ion-card-content>Salute Her UK actively campaign for 'gender specific' physical and mental health support services and trauma informed care for women who have lived experience of bullying, harassment, discrimination and sexual abuse during their military service.

        </ion-card-content>
        <ion-card-content>Salute Her UK aim to ensure that all the women veterans that access our service have a choice in both service design and delivery. We view women veterans as experts through experience and therefore regularly consult with those we seek to serve.
          </ion-card-content>

    </ion-card>

    </div>
</ion-content>
