<ion-content [fullscreen]="true" style="--background: white">
  <ion-card style="text-align: center">
    <ion-card-header class="gradient1">
      <ion-card-title
        text-wrap
        style="
          font-family: alternate-gothic-no-3-d, sans-serif;
          font-weight: normal;
          font-size: x-large;
          width: 60%;
        "
        class="textstyle"
      >
        Benefits</ion-card-title
      >
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> General benefits </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <a href="https://www.bbc.co.uk/news/business-11717254"
        >Benefits explained: A basic guide to entitlements - BBC News</a
      >
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Armed Forces Covenant Fund </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <a
        href="https://www.gov.uk/government/collections/armed-forces-covenant-supporting-information4"
        >Armed Forces Covenant: guidance and support - GOV.UK</a
      >
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Military pension </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <a
        href="https://www.gov.uk/guidance/pensions-and-compensation-for-veterans"
        >Armed Forces pensions - GOV.UK</a
      >
    </ion-card-content>
  </ion-card>
</ion-content>
