<ion-content [fullscreen]="true" style="height: 100%">

  <div id="introduction-container" style="background: white;height: 100%;">
    <ion-card style="text-align:center;">
      <ion-card-header class="gradient1 textstyle">
        <ion-card-title text-wrap style="
          font-size: x-large;
          font-weight: normal;
          font-family: alternate-gothic-no-3-d;
          text-align: center;">
          Welcome to Salute HER</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card   slot="content" style="text-align: left;">
      <div style="margin-left:8%;margin-right:8%;text-align: justify;font-size:large;font-family: alternate-gothic-no-3-d;">

        <p>  Women veterans in the United Kingdom are an invisible, marginalised and frequently ignored  population within the veteran community. Salute Her UK is a strong voice advocating for a holistic, compassionate continuum of services, treatment and care for our women veterans, families, care givers and care providers. </p>
        <p>  Salute Her UK works to improve the lives of UK women veterans by addressing the distinct and intersectional needs of women veterans. We highlight the unique and often unrecognised challenges facing women veterans both during and after service. For example, issues regarding gender, age, social class, race, disability and sexual orientation. </p>
        <p>  <i>“I give my full support to this fantastic initiative which will undoubtedly have a positive impact on the lives of many female veterans in our area who, until now, haven’t had this level of bespoke, tailored support. There are many ex-service women who transition to civilian life without any difficulties and there are others for whom the change, understandably, isn’t so easy. This scheme is about listening to these women, identifying the challenges they face and reaching out to them with appropriate support.” Dame Vera Baird QC  </i></p>

          <h4 class="textstyle">MISSION STATEMENT</h4>
            <p>
              We want to provide a bespoke service to all women who have served in the Armed Forces by focusing on the physical, emotional and social aspects of life while advocating, empowering, and educating women on their path to a life full of meaning and growth.

            </p>

          <h4 class="textstyle">VISION</h4>

          <p>
            To empower women veterans and provide them with the tools they need to re-enter the civilian world and live successful meaningful lives filled with passion, purpose, prosperity and the opportunity to be of service to others.
          </p>

           <h4 class="textstyle">BACKGROUND</h4>
           <p>
            Salute Her UK was founded by Forward Assist CEO Tony Wright. Many years ago he realised that women veterans were less likely to access service charities. In response, he created projects within Forward Assist that were exclusively designed for women.

            The concept for Salute Her UK came into being in 2017. Funding from the Department for Digital Culture Media and Sport (DCMS) allowed the employment of a full time mental health therapist to develop a gender specific service for women veterans. The website, promotional materials, info-graph and a recent  'Five Eyes' International conference looking at international approaches to addressing Military Sexual Trauma were all funded by the Churchill Fellowship, Activate Fund. Similarly, our bespoke Coffee Barista training programme designed specifically for budding women veteran entrepreneur's has been funded by the Sage Foundation. We would like to take this opportunity to thank all of the organisations that have helped fund and establish Salute Her UK as a registered charity in England and Wales.
           </p>

        <div style ="padding-bottom: 10%">
          <a  target="_blank" href="https://www.saluteheruk.co.uk/?fs=e&s=cl">read more</a>

        </div>
   <!--   <ion-button fill="clear"  (click)="initModal()">read more...</ion-button>

      <p *ngIf="modalDataResponse">{{modalDataResponse}}</p> -->
      </div>


    </ion-card>

  </div>
</ion-content>
