<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-content >
   <div>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home" >
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="myth-buster">
            <ion-img src="assets/images/mythBuster.png"></ion-img>
          </ion-tab-button>
      
          <ion-tab-button tab="best-practice">
          <ion-img src="assets/images/bestPractice.jpg"></ion-img>
          </ion-tab-button>
      
          <ion-tab-button tab="about">
            <ion-img src="assets/images/gift.png"></ion-img>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </div>
    </ion-content>
</ion-app>
