<ion-content [fullscreen]="true" style="--background: white">
  <ion-card style="text-align: center">
    <ion-card-header class="gradient1">
      <ion-card-title text-wrap style="
          font-family: alternate-gothic-no-3-d, sans-serif;
          font-weight: normal;
          font-size: x-large;
          width: 60%;
        " class="textstyle">
        Instructions</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-accordion-group>
      <ion-accordion value="instructions1">
        <ion-item slot="header" class="textstyle">
          <ion-label text-wrap
            style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            The 'Family First' project
          </ion-label>
        </ion-item>
        <ion-card slot="content" style="text-align: left;">
          <ion-card-content>
            <p>
              <b>Who we are & what we do?</b>
              <br>
              The ‘Family First Project’ aims to support veterans and their
              entire family unit to overcome the overwhelming stresses a caring role can bring.
              The project offers a family care coordinator provides Information, Advice and Guidance
              as well as holistic group activities to families.

              <br>
              <br>
              <b>What to expect?</b>
              <br>
              Military Families will be appointed a Military Family Care Coordinator. The assigned
              worker will provide you with both emotional and practical help to support you through
              long- or short-term difficulties.

              <br>
              <br>
              <b>How we can help?</b>
              <br>
              Through out the year we organise a whole host of events, including:
              <br>
              • Family days out
              <br>
              • Wellbeing retreats for military families.
              <br>
              • Military Young Carer 1-1 sessions & group work

              <br>
              <br>
              <b>Contacts</b>
              <br>
              Nicole Dodds – Military Family Project Worker
              <br>
              Email : Nicole@forward-assist.com
              <br>
              Phone number : 0191 2504877
              <br>
              Address : Forward Assist Veterans Health & Well-being Hub
              C/O John Willie Sams Centre, Market Street, Dudley, Northumberland. NE23 7HS
            </p>
          </ion-card-content>
        </ion-card>
      </ion-accordion>

      <ion-accordion value="instructions2">
        <ion-item slot="header" class="textstyle">
          <ion-label text-wrap
            style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Healthy Eating
          </ion-label>
        </ion-item>
        <ion-card slot="content" style="text-align: left;">
          <ion-card-content>
            <p>
              Healthy eating is not about strict limitations or depriving yourself of the foods you love. Rather, it’s
              about
              feeling great, having more energy, improving your health, and boosting your mood.
              <br><br>
              A key element of eating healthy should be to replace processed food with healthy options whenever
              possible.
              Eating food that is as close as possible to the way nature made it can make a huge difference to the way
              you think, look, and feel.
              <br>
              <br>
              <b>Protein</b> gives you the energy to get up and go—and keep going—while also supporting mood and
              cognitive
              function. Too much protein can be harmful to people with kidney disease, but the latest research suggests
              that many of us need more high-quality protein, especially as we age. That doesn’t mean you have to eat
              more animal products—a variety of plant-based sources of protein each day can ensure your body gets all
              the essential protein it needs.
              <br>
              <br>
              <b>Fat</b> Not all fat is the same. While bad fats can wreck your diet and increase your risk of certain
              diseases, good fats protect your brain and heart. In fact, healthy fats—such as omega-3’s—are vital to
              your physical and emotional health. Including more healthy fat in your diet can help improve your mood,
              boost your well-being, and even trim your waistline.
              <br>
              <br>
              <b>Fibre</b> Eating foods high in dietary fibre (grains, fruit, vegetables, nuts, and beans) can help you
              stay
              regular and lower your risk for heart disease, stroke, and diabetes. It can also improve your skin and
              even help you to lose weight.
              <br>
              <br>
              <b>Calcium</b> As well as leading to osteoporosis, not getting enough calcium in your diet can also
              contribute
              to anxiety, depression, and sleep difficulties. Whatever your age or gender, it’s vital to include
              calcium-rich foods in your diet, limit those that deplete calcium, and get enough magnesium and vitamins D
              and K to help calcium do its job.
              <br>
              <br>
              <b>Carbohydrates</b> are one of your body’s main sources of energy. But most should come from complex,
              unrefined
              carbs (vegetables, whole grains, fruit) rather than sugars and refined carbs. Cutting back on white bread,
              pastries, starches, and sugar can prevent rapid spikes in blood sugar, fluctuations in mood and energy,
              and a build-up of fat, especially around your waistline.

              <br>
              <br>
              <b>Contact Details</b>
              <br>
              Forward Assist Veterans Health & Well-being Hub
              C/O John Willie Sams Centre, Market Street, Dudley, Northumberland. NE23 7HS
              <br>
              Website: www.forward-assist.com
              <br>
              Email: paula@forward-assist.com

            </p>
          </ion-card-content>
        </ion-card>
      </ion-accordion>

      <ion-accordion value="instructions3">
        <ion-item slot="header" class="textstyle">
          <ion-label text-wrap
            style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Self-help Suicide
          </ion-label>
        </ion-item>
        <ion-card slot="content" style="text-align: left;">
          <ion-card-content>
            <p>
              If you’re a Veteran in a mental health crisis and you’re thinking about hurting yourself—or you know a
              Veteran who’s considering this—get help right away. You’re not alone.

              <br>
              It is ok to talk about suicide. Suicide is the act of making the decision to take your own life and
              following through with that decision.
              <br>
              <br>
              Suicidal feelings can mean that you are thinking about suicide on a regular basis.
              <br>
              <br>
              You may find the feelings overwhelming and difficult to process.
              <br>
              <br>

              <b>What you might be thinking or feeling</b>
              <br>
              <br>
              The pain seems overwhelming and unbearable.
              <br>
              <br>
              You feel hopeless, like there is no point in living.
              <br>
              <br>
              You are consumed by negative thoughts and plagued with self-doubt
              <br>
              <br>
              You cannot imagine any solution to your problems other than suicide
              <br>
              <br>
              You imagine death as a relief. You think everyone would be better of without you.
              <br>
              <br>
              You feel worthless.
              <br>
              <br>
              You feel very lonely even when you have friends and family.


              <br>
              <br>
              <b>What you can do</b>
              <br>
              <br>
              Talk to a trusted family member, friend, or colleague about how you feel.
              <br>
              <br>
              If you think you are in immediate danger of harming yourself, contact the emergency services or a crisis
              line, or go there directly.
              <br>
              <br>
              Talk to a professional, such as a doctor, mental health professional, counsellor or social worker.
              <br>
              <br>
              If you practice a religion, talk to someone from your religious community who you trust.
              <br>
              <br>
              Join a self-help or support group for people with lived experience of self-harm. You can help each other
              to feel better.

              <br>
              <br>
              <b>Create Crisis Box</b>
              <br>
              The idea of a crisis box is that it is filled with items that make you feel better. You can use it when
              you feel anxious, stressed or suicidal. The crisis box is personal to you. It is a good idea to fill it
              with things that relate to your sense’s. The box could include

              <br>
              <br>
              • Your favourite CD
              <br>
              <br>
              • Something to distract you like a puzzle or colouring book,
              <br>
              <br>
              • Reminders of positive things you have learnt in therapy sessions,
              <br>
              <br>
              • A copy of your wellness and resilience plan
              <br>
              <br>
              • Photographs of people you love and who make you happy,
              <br>
              <br>
              • Your favourite sweets


              <br>
              <br>
              <b>Contact Page</b>
              <br>
              <br>
              Forward Assist Veterans Health & Well-being Hub
              C/O John Willie Sams Centre, Market Street, Dudley, Northumberland. NE23 7HS
              <br>
              <b>Website</b> www.forward-assist.com
              <br>
              <b>Email</b> paula@forward-assist.com
            </p>
          </ion-card-content>
        </ion-card>
      </ion-accordion>

      <ion-accordion value="instructions4">
        <ion-item slot="header" class="textstyle">
          <ion-label text-wrap
            style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Sex Addiction
          </ion-label>
        </ion-item>
        <ion-card slot="content" style="text-align: left;">
          <ion-card-content>
            <p>
              People of all genders, ages, sexual orientations, racial and ethnic backgrounds, and branches of service
              have experienced Military Sexual Trauma (MST). Like other types of trauma, MST can negatively affect a
              person’s mental and physical health, even many years later.
              <br>
              <br>
              Sex is a normal human need, but for some people, sexual behavior becomes compulsive, and the behavior
              remains out of control despite feelings of shame, guilt and harmful consequences. Sex addiction is not
              about sex. Instead, sexual behavior is used as an escape from unpleasant feelings—feelings that can be
              successfully addressed in therapy.

              <br>
              <br>
              You may feel worried that you are out of control, if that resonates with you, it might help to consider if
              the following statements are familiar. For example do you:
              <br>
              <br>
              • Feel that the behaviour is out of control.
              <br>
              <br>
              • Believe that there may be severe consequences if you continue but carry on any way.
              <br>
              <br>
              • Persistently pursue destructive high risk sexual activities, want to stop but are unable to do so.
              <br>
              <br>
              • Need more and more of the sexual activity in order to experience the same level of high followed by
              feelings of shame

              <br>
              <br>
              Overcoming an addiction to sex can be a bumpy road. At times, it may even feel impossible. But it’s not.
              There are many options you can try.
              <br>
              <br>
              <b>Professional Treatment:</b>
              <br>
              <br>
              • <b>Cognitive behavioral therapy (CBT)</b> – helps you to identify negative beliefs and behaviors and
              learn
              emotionally healthy ways to cope and replace behaviors.
              <br>
              <br>
              • <b>Acceptance and commitment therapy</b> – a form of CBT that emphasizes acceptance of thoughts and
              urges and
              mindfulness strategies to better align actions and values.
              <br>
              <br>
              • <b>Psychodynamic psychotherapy</b> – helps you increase awareness of unconscious thoughts and
              behaviours,
              better understand the motivating force behind your actions, and develop stronger conflict resolution
              skills.
              <br>
              <br>
              <b>Self Help</b>
              <br>
              <br>
              • Evaluate the consequences of your addiction
              <br>
              <br>
              • Set goals and stick to them
              <br>
              <br>
              • Be kind to your self
              <br>
              <br>
              • Speak to people you trust
              <br>
              <br>
              • Attend virtual or in person support groups
              <br>
              <br>
              • Practice mindfulness techniques


              <br>
              <br>
              <b>Contact Page</b>
              <br>
              Paula Edwards – Mental Health Therapist
              <br>
              Forward Assist Veterans Health & Well-being Hub
              C/O John Willie Sams Centre, Market Street, Dudley, Northumberland. NE23 7HS
              <br>
              <b>Email:</b> paula@forward-assist.com
              <br>
              <b>Tel:</b> 0191 2504877

            </p>
          </ion-card-content>
        </ion-card>
      </ion-accordion>

      <ion-accordion value="instructions5">
        <ion-item slot="header" class="textstyle">
          <ion-label text-wrap
            style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            Intimacy and you
          </ion-label>
        </ion-item>
        <ion-card slot="content" style="text-align: left;">
          <ion-card-content>
            <p>
              Whether you are physically forced into sexual activity, coerced into it under threat of force or negative
              consequences, or exposed to unwanted sexual touching, grabbing, or remarks about your body and
              sexuality, all of these fall under the textbook definition of MST; whether a Veteran is male or female
              is irrelevant.
              <br><br> The effects of military sexual trauma can be profound for Veteran’s mental and physical
              health.
              <br><br>It doesn’t matter if a Veteran was on base or off base at the time, whether they were in
              active duty during war or peacetime, or whether they were on duty or off duty at the time. Sexuality
              Sexual assault can be committed by men or women, against men or women, no matter what the survivor’s
              sexuality.
              <br><br> Sexual assault has nothing to do with the survivor’s sexuality. For example, a heterosexual
              women might be sexually assaulted by a women and vice versa.
              <br><br>Couples dont need to fear intimacy and trauma related issues. By understanding
              that, this can result in symptoms that require support, couples can establish a plan for what to do if
              difficulties arise.

              <br>
              <br>
              <b>How to cope with relationship and intimacy problems</b>
              <br>
              <br>
              1.Take your time to become comfortable with the idea of physical intimacy and close relationships.
              <br>
              <br>
              2.Remind yourself that what happened to you was not sex, it was assault.
              <br>
              <br>
              3.Be careful about risky situations. Make sure you feel safe and comfortable when having sex.
              <br>
              <br>
              4.Talk to your partner about how you are feeling. Communicate to your partner, know that finding sex
              difficult is a normal reaction to sexual assault. It does not mean that you do not love or care for your
              partner anymore.
              <br>
              <br>
              5.To start with, try to get sexually close to your partner through other forms of physical contact such as
              non-sexual touching (for example, cuddling or massage) rather than having sexual intercourse.
              <br>
              <br>
              6. Try and do things you enjoy together such as cooking, go for a walk, watch TV show.
              <br>
              <br>
              7.Remove things that may trigger you

              <br>
              <br>
              <b>Contact Information</b>
              <br>
              <br>
              Salute Her offers free and confidential services to Women Veterans for mental and physical health
              conditions related to MST. This includes counseling and other forms of medical and mental health
              treatment. Sexual problems are part of the help and support you may require.
              <br>
              For more information contact Paula Edwards - Paula@forward-assist.com or 01912504877

            </p>
          </ion-card-content>
        </ion-card>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>