<ion-content [fullscreen]="true" style="--background:white">
  <div id="mythbusters-container" style="background: white;">
    <ion-card style="text-align:center;">
      <ion-card-header class="gradient1">
        <ion-card-title text-wrap style="
        font-family: alternate-gothic-no-3-d, sans-serif;
        font-weight: normal;
        font-size: x-large;
        width: 60%;" class = "textstyle">
        Blog</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-accordion-group>
        <ion-accordion value="blog1">
          <ion-item slot="header" class = "textstyle">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >
              Paula Edwards: Mental Health Therapist.
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b class="boldstyle">What are Adverse Childhood Experiences and How Do They Impact on Adult Life - April 28, 2022</b>
                <br><br>
                I often reflect on my life, as have many of us,
                wondering how my prior experiences have influenced my life, my psychology, work choices, relationships, parenting skills, children’s development and health.

              </p>
              <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/16947/what-are-adverse-childhood-experiences-and-how-do-they-impact-on-adult-life/">read more</a>
              <br>
              <br>
              <p>
            <b class="boldstyle">SALUTE HER UK: The Long Term Effects of Military Sexual Trauma (MST) - March 9, 2021</b>  <br><br>
            The day the soldiers stop bringing you their problems is the day you stopped leading them. They have either lost confidence that you can help them, or concluded that you do not care.
            Either case is a failure of leadership. —Colin Powell

              </p>
              <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13402/salute-her-uk-the-long-term-effects-of-military-sexual-trauma-mst/">read more</a>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="blog2">
          <ion-item slot="header" class = "textstyle">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" >
              Caroline Noakes MP: Parliamentary Question
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b class="boldstyle">What plans he has to extend the period beyond three years in which service personnel can report historic allegations of serious sexual assault - March 9, 2021</b>
                <br><br>
                The Service Justice System does not have a time limit in regard to bringing cases of sexual assault.
                The Service Police will continue to investigate any allegations of historic serious sexual offence brought to their attention.
                - Johnny Mercer
              </p>
              <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13401/salute-her-uk-parliamentary-questions/">read more</a>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="blog3">
          <ion-item slot="header" class = "textstyle">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >
             Dame Vera Baird QC
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b class="boldstyle">Empowering Women Veterans - March 5, 2021</b>
                <br><br>
                I give my full support to this fantastic initiative which will undoubtedly have a positive impact on the lives of many female veterans in our area who, until now, haven’t had this level of bespoke, tailored support. There are many ex-service women who transition to civilian life without any difficulties and there are others for whom the change, understandably, isn’t so easy.
                 This scheme is about listening to these women, identifying the challenges they face and reaching out to them with appropriate support.
              </p>
              <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13134/empowering-women-veterans/">read more</a>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="blog5">
          <ion-item slot="header" class = "textstyle">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >
              Diane Allen OBE
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b class="boldstyle">Women in Defence Inquiry – a story of corporate-level ‘gas-lighting - February 4, 2021</b>
                <br><br>
                Diane Allen joined the Army when she was a teenager and was one of the first women to attend Sandhurst in the 1980s.
                She served in the regulars, in Northern Ireland and Germany, before a switch to the reserves, finally leaving in January 2020, as a Lieutenant-Colonel.
                She now lives in Gloucestershire, with her partner, when they are not away adventuring.
              </p>
              <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13132/women-in-defence-inquiry--a-story-of-corporate-level-gas-lighting-/">read more</a>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="blog6">
          <ion-item slot="header" class = "textstyle">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >
              Tony Wright, CEO Forward Assist
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b class="boldstyle">The Weakest Link Is The Transition Process... - February 1, 2021</b>
                <br><br>
                Every year, thousands of people leave the Armed Forces and return to live and work in the civilian community. For many the transition is seamless,
                yet for a significant number the journey is made difficult by an inability to adjust and re-establish themselves and settle back into in the community.
                These adjustment issues may lead to relationship difficulties, alcohol and drug misuse, homelessness,
                involvement with the Criminal Justice System, and for those suffering from diagnosed or undiagnosed mental health problems, self imposed isolation, self harm or suicide
              </p>
              <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13133/the-weakest-link-is-the-transition-process/">read more</a>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="blog4">
          <ion-item slot="header" class = "textstyle">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >
              Clinicians Corner
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13365/the-complex-ptsd-workbook/"> <b class="boldstyle">The Complex PTSD Workbook  by Arielle Schwartz</b></a>
              </p>
              <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13364/complex-ptsd-from-surviving-to-thriving/"> <b class="boldstyle">Complex PTSD: From Surviving to Thriving  by Pete Walker</b></a>
                </p>
                <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13363/upside-the-new-science-of-post-traumatic-growth/">
                    <b class="boldstyle">Upside: The New Science of Post-Traumatic Growth  by Jim Rendon</b></a>
                </p>
                <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13362/the-posttraumatic-growth-workbook-coming-through-trauma-wiser-stronger-and-more-resilient/">
                    <b class="boldstyle">The Posttraumatic Growth Workbook by Richard G. Trdeschi & Bret A. modalDataResponse</b></a>
                </p>
                <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13361/the-invisible-woman/">
                    <b class="boldstyle">The Invisible Woman by Katina Patterson</b></a>
                </p>
                <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13360/we-are-not-invisible/">
                    <b class="boldstyle">We Are Not Invisible by S. Fabian Butalla</b></a>
                </p>
                <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13348/invisible-veterans-what-happens-when-military-women-become-civilians-again/">
                    <b class="boldstyle">Invisible Veterans by Kate Hendricks Thomas</b></a>
                </p>
                <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13347/the-dialectical-behavior-therapy-skills-workbook-for-ptsd-practical-exercises-for-overcoming-trauma-and-post-traumatic-stress-disorder/">
                    <b class="boldstyle">The Dialectical Behavior Therapy Skills Workbook for PTSD by Kirby Reutter</b></a>
                </p>
                <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13305/struggle-well/">
                    <b class="boldstyle">Struggle Well by Ken Falke and Josh Goldberg</b></a>
                </p>
                <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13302/understanding-and-treating-military-sexual-trauma/">
                    <b class="boldstyle">Understanding and Treating Military Sexual Trauma by kristen Zaleski</b></a>
                </p>

                <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13301/women-of-the-military/">
                    <b class="boldstyle">Women of the Military by Amanda Huffman</b></a>
                </p>
                <br>
                <p>
                  <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/post/13304/military-sexual-trauma/">
                    <b class="boldstyle">Military Sexual Trauma by Miette Walls</b></a>
                </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="blog7">
          <ion-item slot="header" class = "textstyle">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >
              More Blogs
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                To know more and access more blogs click the link below. <br>
                <a  target="_blank" href="https://www.saluteheruk.co.uk/blog/">read more</a>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>
      </ion-accordion-group>

    </ion-card>

  </div>
</ion-content>
