<ion-content [fullscreen]="true" style="--background:white">
  <div id="mythbusters-container" style="background: white;height: 100%;">
    <ion-card style="text-align:center;">
      <ion-card-header class="gradient1">
        <ion-card-title text-wrap style="
        font-family: alternate-gothic-no-3-d, sans-serif;
        font-weight: normal;
        font-size: x-large;
        color: #16486f;
        width: 60%;
        text-align: left;
      ">
          Myth Busters</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-accordion-group>
        <ion-accordion value="mythbusters-question1">
          <ion-item slot="header">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #16486f;">
              Myth 1
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b>Myth:</b> Women who drink or take drugs deserve it if they get raped.
                <br><br>
                <b>Fact:</b> No one is ever to blame for being sexually assaulted, it doesn't matter what the
                circumstances were.
                Raping or sexually assaulting someone is always a crime and 100% of the blame, shame and responsibility
                for that crime lies with the perpetrator or perpetrators.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="mythbusters-question2">
          <ion-item slot="header">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #16486f;">
              Myth 2
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b>Myth:</b> Women lie about being raped because they want attention or revenge – or regret having had
                sex with
                someone.
                <br><br>
                <b>Fact:</b> False allegations of rape are extremely rare. In fact, most people who are raped or
                experience another form of sexual violence never tell the police.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="mythbusters-question3">
          <ion-item slot="header">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #16486f;">
              Myth 3
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b>Myth:</b> If she didn’t scream, try to run away or fight back then it wasn't rape.
                <br><br>
                <b>Fact:</b> It’s really common for people who experience rape, sexual assault, sexual abuse or other
                types of sexual violence to find they can’t move or speak. This is one of our bodies’ automatic
                responses to fear and is designed to keep us safe.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="mythbusters-question4">
          <ion-item slot="header">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #16486f;">
              Myth 4
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b>Myth:</b> If she didn’t say ‘no’ then it wasn't rape.
                <br><br>
                <b>Fact:</b> Not saying ‘no’ is not the same as someone giving their consent. If someone seems unsure,
                stays quiet, moves away or doesn’t respond, they are not agreeing to sexual activity.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>


        <ion-accordion value="mythbusters-question5">
          <ion-item slot="header">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #16486f;">
              Myth 5
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b>Myth:</b> It’s not rape if it's your wife or girlfriend.
                <br><br>
                <b>Fact:</b> Rape is always rape. If someone wants to take part in any kind of sexual activity with
                another person then they must get their consent. Every. Single. Time. It doesn’t matter if they’ve been
                married to the other person for 50 years – if the other person doesn’t consent, it’s rape. And it's
                illegal.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="mythbusters-question6">
          <ion-item slot="header">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #16486f;">
              Myth 6
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b>Myth:</b> Women are ‘asking for it’ if they wear revealing clothes or flirt.
                <br><br>
                <b>Fact:</b> Women and girls have the right to wear whatever they want and behave however they want
                without being raped or sexually assaulted. As does everyone. There is never any excuse for rape or
                sexual assault.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="mythbusters-question7">
          <ion-item slot="header">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #16486f;">
              Myth 7
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b>Myth:</b> Once a man gets turned on he can't help himself – he has to have sex.
                <br><br>
                <b>Fact:</b> There is absolutely no scientific basis in this myth. Men can control themselves, just like
                women. Rape in any circumstances is a serious crime and there is never any excuse for it.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="mythbusters-question8">
          <ion-item slot="header">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #16486f;">
              Myth 8
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;">
            <ion-card-content>
              <p>
                <b>Myth:</b> Women often play ‘hard to get' and say 'no' when they really mean 'yes'.
                <br><br>
                <b>Fact:</b> Women and girls, just like men and boys, should always be listened to and believed when it
                comes to sex. Everyone has the right to change their mind at any point during sexual activity and it’s
                not up to anyone else to decide what someone wants – only they can do that. So, if someone says ‘no’,
                respect their wishes.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

        <ion-accordion value="mythbusters-question9">
          <ion-item slot="header">
            <ion-label text-wrap
              style="font-weight: 600;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #16486f;">
              Myth 9
            </ion-label>
          </ion-item>
          <ion-card slot="content" style="text-align: left;padding-bottom: 10%">
            <ion-card-content>
              <p>
                <b>Myth:</b> Victims and survivors should act a certain way after being raped.
                <br><br>
                <b>Fact:</b> Everyone responds differently to rape and other types of sexual violence, and there's no
                right or wrong way to be or to feel afterwards. It's common for people to feel numb after a traumatic
                event like rape or sexual assault. And some people don't feel the effects of trauma until a long time
                after a traumatic event has happened.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>

      </ion-accordion-group>
    </ion-card>
  </div>
</ion-content>