<ion-content [fullscreen]="true" style="--background:grey;height: 90%;">
  <div id="container" style="background: gray;height: 100%;">
    <ion-card style="text-align:center;height: 22%;">
      <div class="imagebackground responsive">
      </div>
    </ion-card>

    <ion-card style="height:14%">
      <ion-button fill="clear" style="width:100%;height:100%" routerLink="/introduction" routerDirection="root">
        <img src="..//../assets/images/Forward_assit_logo.jpg" style="height:80%">
        <ion-label text-wrap
          style="font-weight: bold;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: goldenrod;">
          WELCOME TO FORWARD ASSIST
        </ion-label>
      </ion-button>
    </ion-card>
    <ion-card style="height:14%">
      <ion-button fill="clear" style="width:100%;height:100%" routerLink="/about" routerDirection="root">
        
          <img src="..//../assets/images/whoAreWe.png" style="height:60%"> &nbsp;&nbsp; &nbsp;&nbsp;  
          <ion-label
            style="font-weight: bold;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: goldenrod;">
            WHO WE ARE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;    &nbsp;       
          </ion-label>
     
   
      </ion-button>
    </ion-card>
    <ion-card style="height:14%">
      <ion-button fill="clear" style="width:100%;height:100%" routerLink="/instructions" routerDirection="root">
        <img src="..//../assets/images/instruction.jpg" style="height:60%"> &nbsp;&nbsp;
        <ion-label text-wrap
          style="font-weight: bold;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: goldenrod;">
          INSTRUCTIONS     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;      
        </ion-label>
      </ion-button>
    </ion-card>
    <ion-card style="height:14%;">
      <a
        href="mailto:?subject=Forward%20Assist%20Referral&body=This%20is%20placeholder%20text%20to%20refer%20a%20friend%20to%20Forward%20Assist
        https://play.google.com/store/apps/details?id=is.vertical.ptsdcoach&gl=GB">
        <ion-button fill="clear" style="width:100%;height:100%">

          <img src="..//../assets/images/referral.png" style="height:60%">
          <ion-label text-wrap
            style="font-weight: bold;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: goldenrod;">
            MAKE A REFERRAL        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </ion-label>
        </ion-button>
      </a>
    </ion-card>
  </div>
</ion-content>