<ion-content [fullscreen]="true" style="--background:grey">
  <div id="hompagecontainer" style="background: gray;height: 100%;">
    <ion-card style="text-align:center;height: 25%;">
      <ion-card-header>
         <img  src="assets\images\HomeTitle.jpg">
       . <ion-card-title></ion-card-title>
      </ion-card-header>
    </ion-card>
   
    <ion-card>
      <ion-accordion-group>
        <ion-accordion value="Forward Assist" >
          <ion-item slot="header">
            <img  src="assets\images\introduction_icon.jpg">
            <ion-label text-wrap style="font-weight: bold;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: goldenrod;">
              Introduction to Forward Assist
            </ion-label>
          </ion-item>
            
          <ion-card slot="content" style="text-align: left">
            <ion-card-content >
              
               <h3>WELCOME TO FORWARD ASSIST </h3>
               <h4>OUR MISSION STATEMENT:</h4>
               <p>
                “We support military veterans struggling to adjust to civilian life; we want  all veterans to  live  great lives, filled with passion, purpose, service, connection and growth”. 
                In the UK military veterans and their families account for 5% of the general population. There are an estimated 2.5 million veterans living in the United Kingdom. 
                For some veterans a return to civilian life can be a joyous experience, however for others it can be an experience fraught with transitional difficulties that are multiple and complex in nature.
                With so many veterans support organisations,  groups, charities and providers operating in the same area it is no surprise to hear that veterans struggle to navigate, 
                connect and engage with professional support in a timely manner. 
                Far to often, unregulated providers ‘muddy the waters’ by replicating and duplicating services causing confusion, disconnection and anxiety for those seeking help. 
                We aim to provide a safe place where traumatised veterans can feel physically and psychologically supported, respected and welcome.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-accordion>
        </ion-accordion-group>
      </ion-card>

      <ion-card >
        <ion-accordion-group>
          <ion-accordion value="Forward Assist" >
            <ion-item slot="header">
              <img  src="assets\images\introduction_icon.jpg">
              <ion-label text-wrap style="font-weight: bold;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: goldenrod;">
                Introduction to Forward Assist
              </ion-label>
            </ion-item>
              
            <ion-card slot="content" style="text-align: left;">
              <ion-card-content >
                
                 <h3>WELCOME TO FORWARD ASSIST </h3>
                 <h4>OUR MISSION STATEMENT:</h4>
                 <p>
                  “We support military veterans struggling to adjust to civilian life; we want  all veterans to  live  great lives, filled with passion, purpose, service, connection and growth”. 
                  In the UK military veterans and their families account for 5% of the general population. There are an estimated 2.5 million veterans living in the United Kingdom. 
                  For some veterans a return to civilian life can be a joyous experience, however for others it can be an experience fraught with transitional difficulties that are multiple and complex in nature.
                  With so many veterans support organisations,  groups, charities and providers operating in the same area it is no surprise to hear that veterans struggle to navigate, 
                  connect and engage with professional support in a timely manner. 
                  Far to often, unregulated providers ‘muddy the waters’ by replicating and duplicating services causing confusion, disconnection and anxiety for those seeking help. 
                  We aim to provide a safe place where traumatised veterans can feel physically and psychologically supported, respected and welcome.
                </p>
              </ion-card-content>
            </ion-card>
          </ion-accordion>
          </ion-accordion-group>
        </ion-card>

        <ion-card >
          <ion-accordion-group>
            <ion-accordion value="Forward Assist" >
              <ion-item slot="header">
                <img  src="assets\images\introduction_icon.jpg">
                <ion-label text-wrap style="font-weight: bold;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: goldenrod;">
                  Introduction to Forward Assist
                </ion-label>
              </ion-item>
                
              <ion-card slot="content" style="text-align: left;">
                <ion-card-content >
                  
                   <h3>WELCOME TO FORWARD ASSIST </h3>
                   <h4>OUR MISSION STATEMENT:</h4>
                   <p>
                    “We support military veterans struggling to adjust to civilian life; we want  all veterans to  live  great lives, filled with passion, purpose, service, connection and growth”. 
                    In the UK military veterans and their families account for 5% of the general population. There are an estimated 2.5 million veterans living in the United Kingdom. 
                    For some veterans a return to civilian life can be a joyous experience, however for others it can be an experience fraught with transitional difficulties that are multiple and complex in nature.
                    With so many veterans support organisations,  groups, charities and providers operating in the same area it is no surprise to hear that veterans struggle to navigate, 
                    connect and engage with professional support in a timely manner. 
                    Far to often, unregulated providers ‘muddy the waters’ by replicating and duplicating services causing confusion, disconnection and anxiety for those seeking help. 
                    We aim to provide a safe place where traumatised veterans can feel physically and psychologically supported, respected and welcome.
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-accordion>
            </ion-accordion-group>
          </ion-card>
    </div>
</ion-content>
